<label class="floating-label text-left">
  <span>{{ label() }}</span>
  <input
    [type]="type()"
    [max]="maxDate()"
    class="input w-full"
    [class.input-error]="control.touched && control.invalid"
    [class.input-success]="control.touched && control.valid"
    [name]="label().toLocaleLowerCase().replace(' ', '')"
    [formControl]="control"
    [placeholder]="label()"
  />
  @if (control.hasError('required') && control.touched) {
    <div class="validation-hint text-error text-xs">{{ label() }} is required</div>
  }
  @if (control.hasError('email') && control.touched) {
    <div class="validation-hint text-error text-xs">Invalid email address</div>
  }
  @if (control.hasError('minlength') && control.touched) {
    <div class="validation-hint text-error text-xs">
        {{ label() }} must be atleast {{ control.errors?.['minlength'].requiredLength }} characters
    </div>
  }
  @if (control.hasError('maxlength') && control.touched) {
    <div class="validation-hint text-error text-xs">
        {{ label() }} must be at most {{ control.errors?.['maxlength'].requiredLength }} characters
    </div>
  }
  @if (control.hasError('passwordMismatch') && control.touched) {
    <div class="validation-hint text-error text-xs">Passwords do not match</div>
  }
  @if (control.hasError('whitespace') && control.touched) {
    <div class="validation-hint text-error text-xs">Username cannot contain spaces</div>
  }
</label>
